@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(41, 40, 40);  
}

.col{
    font-family: 'Dancing Script', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h1{
    font-family: 'Dancing Script', cursive;
    color: #d6d4d4;
    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
}

.container {
    display: flex;
    width: 60vw
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    -webkit-transition: all 700ms ease-in;
}

.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }

}